* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color:#8FD1FF;
}

p {
  font-size: 12px;
  margin-top: 4px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tile-top {
  width: 100%;
  height: 104px;
  background-image: url('/images/tile-top.svg');
  background-repeat: repeat-x;
  background-size: auto;
}

.tile-bottom {
    width: 100%;
    height: 224px;
    background-image: url('/images/tile-bottom.svg');
    background-repeat: repeat-x;
    background-size: auto;
}

.content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 800px;
  text-align: center;
  justify-content: center;
}

.box {
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  margin-top: -40px;
  width: 400px;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  grid-template-rows: 24px 1fr 24px;
  gap: 0;
  height: auto;
  width: 100%;
}

.corner {
  width: 24px;
  height: 24px;
}

.top {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 24px;
}

.bottom {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  height: 24px;
}

.left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 24px;
}

.right {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  width: 24px;
}

.single-comment {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: auto;
  height: auto;
  background-color: #fffff9;
  font-family: 'Silkscreen', sans-serif;
  font-weight: 400;
}

.comment-1a {
  background-image: url('/images/1a.svg');
  background-size: auto;
}

.comment-1b {
  background-image: url('/images/1b.svg');
  background-repeat: repeat-x;
  background-size: auto;
}

.comment-1c {
  background-image: url('/images/1c.svg');
  background-size: auto;
}

.comment-2a {
  background-image: url('/images/2a.svg');
  background-repeat: repeat-y;
  background-size: auto;
}

.comment-2c {
  background-image: url('/images/2c.svg');
  background-repeat: repeat-y;
  background-size: auto;
}

.comment-3a {
  background-image: url('/images/3a.svg');
  background-size: auto;
}

.comment-3b {
  background-image: url('/images/3b.svg');
  background-repeat: repeat-x;
  background-size: auto;
}

.comment-3c {
  background-image: url('/images/3c.svg');
  background-size: auto;
}


h3 {
  font-family: 'Silkscreen', sans-serif;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}