@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color:#8FD1FF;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tile-top {
  width: 100%;
  height: 104px;
  background-image: url('../../public/images/tile-top.svg');
  background-repeat: repeat-x;
  background-size: auto;
}

.tile-bottom {
    width: 100%;
    height: 224px;
    background-image: url('../../public/images/tile-bottom.svg');
    background-repeat: repeat-x;
    background-size: auto;
}

.content {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 800px;
  text-align: center;
  justify-content: center;
}

.box {
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single {
  border: none;
  background-color: aquamarine;
}

.heading {
  margin-top: -40px;
  width: 400px;
  height: auto;
}
